{% extends "base.html" %}

{% block content %}

<div class="p-1  rounded" style="background-color: #fceef8; color: #720558; height:80px;">
    <div class="container">
        <p class="lead" style="font-size: 40px;"><i>#{{ tag }}</i></p>
    </div>
</div>
<div id="mainFrame" class="p-5 rounded" style="background-color: #fffdfe; margin-bottom: 2rem;">
    <div class="row">
        <div class="col-md-5">
            <div class="d-grid gap-3">
                {% for article in articles %}
                <div class="cards">
                    <div class="card" id="article" style="border-color: #daafd0;">
                        <div class="card-header" style="background-color: #5a0245;">
                            <a href='{{ article.link }}' target="_blank" style="color: #fdfdfd;">{{ article.title }}</a>
                        </div>
                        <div class="card-body" style="background-color: #fff5fd; color: #2b0021;">
                            {% if article.site == "TVP" %}
                                <img class="logo" id="tvp" src="tvp_info.png">
                            {% else %}
                                <img class="logo" id="polsat" src="polsatnews.png">
                            {% endif %}
                            {% if article.sentiment >= 0.5 %}
                                <img class="emoji" id="jednoznacznie_pozytywne" title="jednoznacznie pozytywne" src="jedno_poz.png">
                            {% elseif article.sentiment > 0 %}
                                <img class="emoji" id="pozytywne" title="pozytywne" src="poz.png">
                            {% elseif article.sentiment == 0 %}
                                <img class="emoji" id="neutralne" title="neutralne" src="neutral.png">
                            {% elseif article.sentiment <= -0.5 %} 
                                <img class="emoji" id="jednoznacznie_negatywne" title="jednoznacznie negatywne" src="jedno_neg.png">
                            {% else %}
                                <img class="emoji" id="negatywne" title="negatywne" src="neg.png">
                            {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-7">
        <div class="d-grid gap-3">
            <div class="card" style="border-color: #daafd0;">
                <div class="card-body" style="background-color: #fde6f9; color: #2b0021;">
                    <div id='tvp_plot'>
                    </div>
                </div>
            </div>
            <div class="card" style="border-color: #daafd0;">
                <div class="card-body" style="background-color: #fde6f9; color: #2b0021;">
                    <div id='polsat_plot'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    // wykres
    var articles = {{ articles|json_encode()|raw }};
    var data_tvp = [];
    var data_polsat = [];
    for(const article of articles){
        if (article["sentiment"] == 0){
            var trace1 = {
            x: ['jednoznacznie negatywne', 'negatywne', 'neutralne', 'pozytywne', 'jednoznacznie pozytywne'],
            y: [null, null, article["sent_magn"], null , null],
            type: 'scatter',
            mode: 'markers'
            };
        }
        else if (article["sentiment"] >= 0.5){
            var trace1 = {
            x: ['jednoznacznie negatywne', 'negatywne', 'neutralne', 'pozytywne', 'jednoznacznie pozytywne'],
            y: [null, null, null, null, article["sent_magn"]],
            type: 'scatter',
            mode: 'markers'
            };
        }
        else if (article["sentiment"] > 0 && article["sentiment"] < 0.5){
            var trace1 = {
            x: ['jednoznacznie negatywne', 'negatywne', 'neutralne', 'pozytywne', 'jednoznacznie pozytywne'],
            y: [null, null, null, article["sent_magn"], null],
            type: 'scatter',
            mode: 'markers'
            };
        }
        else if (article["sentiment"] <= -0.5){
            var trace1 = {
            x: ['jednoznacznie negatywne', 'negatywne', 'neutralne', 'pozytywne', 'jednoznacznie pozytywne'],
            y: [article["sent_magn"],null, null, null, null],
            // name: 'Gold',
            type: 'scatter',
            mode: 'markers',
            };
        }
        else {
            var trace1 = {
            x: ['jednoznacznie negatywne', 'negatywne', 'neutralne', 'pozytywne', 'jednoznacznie pozytywne'],
            y: [null, article["sent_magn"], null, null, null],
            type: 'scatter',
            mode: 'markers'
            };
        }
        if (article.site == "TVP"){
            data_tvp.push(trace1);
        }
        else{
            data_polsat.push(trace1);
        }
        
    }

    console.log(data_tvp);

    var layout_tvp = {
    //scattermode: 'group',
    title: 'TVP',
    xaxis: {
        title: 'ocena',
    },
    yaxis: {title: 'moc oceny'},
    showlegend: false,
    //scattergap: 0.7,
    colorway: ['#ed19ef']
    };

    Plotly.newPlot('tvp_plot', data_tvp, layout_tvp);

    var layout_polsat = {
    //scattermode: 'group',
    title: 'polsat',
    xaxis: {
        title: 'ocena',
    },
    yaxis: {title: 'moc oceny'},
    showlegend: false,
    //scattergap: 0.7,
    colorway: ['#088EF4']
    };

    Plotly.newPlot('polsat_plot', data_polsat, layout_polsat);

    // filtr emocji

    var flag = 0;

    $(".emoji").click(function() {
        var clickedElementId = event.target.id;
        var cards = document.getElementsByClassName("cards");
        if(flag == 0){
            $(".cards").hide();
            for(const card of cards){
                var card_body = card.getElementsByClassName("card-body")[0];
                var emoji = card_body.getElementsByClassName("emoji")[0];
                if(emoji.id == clickedElementId){
                    $(card).show();
                }
            }
            flag = 1;
        }
        else{
            $(".cards").show();
            flag = 0;
        }

    });

    //filtr strony

    var site_flag = 0;

    $(".logo").click(function() {
        var clickedElementId = event.target.id;
        var cards = document.getElementsByClassName("cards");
        if(site_flag == 0){
            $(".cards").hide();
            for(const card of cards){
                var card_body = card.getElementsByClassName("card-body")[0];
                var logo = card_body.getElementsByClassName("logo")[0];
                if(logo.id == clickedElementId){
                    $(card).show();
                }
            }
            site_flag = 1;
        }
        else{
            $(".cards").show();
            site_flag = 0;
        }

    });

</script>

{% endblock %}